.pfl-section {
  padding-top: 90px;
}
.pfl-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.description-box {
  padding: 20px 24px 20px 24px;
}

.gallery-list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
  box-sizing: border-box;
}

.gallery-item {
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: none;
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
}

.pfl-link {
  display: inline-block;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .techno-text,
  &:focus .techno-text {
    transform: translateY(0);
    background: rgba(33, 150, 243, 0.9);
  }
}

.portf-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.techno-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
